In [64]:
import pandas as pd
import os

# CSV files to pull desired data
files = {
    "HA": "Hank Aaron Stats.csv",
    "BB": "Barry Bonds Stats.csv",
    "TC": "Ty Cobb Stats.csv",
    "WM": "Willie Mays Stats.csv",
    "SM": "Stan Musial Stats.csv",
    "AP": "Albert Pujols Stats.csv",
    "PR": "Pete Rose Stats.csv",
    "BR": "Babe Ruth Stats.csv",
    "HW": "Honus Wagner Stats.csv",
    "TW": "Ted Williams Stats.csv"
}

# Base directory path
base_dir = r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics"

# List to store all the player DataFrames
player_dataframes = {}

# Load data for each player into a pandas DataFrame
for player, file_name in files.items():
    file_path = os.path.join(base_dir, file_name)
    player_dataframes[player] = pd.read_csv(file_path)

# Accessing Ted Williams' information
ted_williams_data = player_dataframes["TW"]
ted_williams_data.dropna()

,Year,Age,G,PA,AB,R,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,OPS+,TB
0,1939,20,149,677.0,565.0,131.0,185.0,44.0,11.0,31.0,145.0,107.0,64.0,0.327,0.436,0.609,1.045,160.0,344.0
1,1940,21,144,661.0,561.0,134.0,193.0,43.0,14.0,23.0,113.0,96.0,54.0,0.344,0.442,0.594,1.036,162.0,333.0
2,1941,22,143,606.0,456.0,135.0,185.0,33.0,3.0,37.0,120.0,147.0,27.0,0.406,0.553,0.735,1.287,235.0,335.0
3,1942,23,150,671.0,522.0,141.0,186.0,34.0,5.0,36.0,137.0,145.0,51.0,0.356,0.499,0.648,1.147,216.0,338.0
7,1946,27,150,672.0,514.0,142.0,176.0,37.0,8.0,38.0,123.0,156.0,44.0,0.342,0.497,0.667,1.164,215.0,343.0
8,1947,28,156,693.0,528.0,125.0,181.0,40.0,9.0,32.0,114.0,162.0,47.0,0.343,0.499,0.634,1.133,205.0,335.0
9,1948,29,137,638.0,509.0,124.0,188.0,44.0,3.0,25.0,127.0,126.0,41.0,0.369,0.497,0.615,1.112,189.0,313.0
10,1949,30,155,730.0,566.0,150.0,194.0,39.0,3.0,43.0,159.0,162.0,48.0,0.343,0.490,0.650,1.141,191.0,368.0
11,1950,31,89,416.0,334.0,82.0,106.0,24.0,1.0,28.0,97.0,82.0,21.0,0.317,0.452,0.647,1.099,168.0,216.0
12,1951,32,148,675.0,531.0,109.0,169.0,28.0,4.0,30.0,126.0,144.0,45.0,0.318,0.464,0.556,1.019,164.0,295.0
13,1952,33,6,12.0,10.0,2.0,4.0,0.0,1.0,1.0,3.0,2.0,2.0,0.400,0.500,0.900,1.400,273.0,9.0
14,1953,34,37,110.0,91.0,17.0,37.0,6.0,0.0,13.0,34.0,19.0,10.0,0.407,0.509,0.901,1.410,268.0,82.0
15,1954,35,117,526.0,386.0,93.0,133.0,23.0,1.0,29.0,89.0,136.0,32.0,0.345,0.513,0.635,1.148,201.0,245.0
16,1955,36,98,417.0,320.0,77.0,114.0,21.0,3.0,28.0,83.0,91.0,24.0,0.356,0.496,0.703,1.200,209.0,225.0
17,1956,37,136,503.0,400.0,71.0,138.0,28.0,2.0,24.0,82.0,102.0,39.0,0.345,0.479,0.605,1.084,172.0,242.0
18,1957,38,132,547.0,420.0,96.0,163.0,28.0,1.0,38.0,87.0,119.0,43.0,0.388,0.526,0.731,1.257,233.0,307.0
19,1958,39,129,517.0,411.0,81.0,135.0,23.0,2.0,26.0,85.0,98.0,49.0,0.328,0.458,0.584,1.042,179.0,240.0
20,1959,40,103,331.0,272.0,32.0,69.0,15.0,0.0,10.0,43.0,52.0,27.0,0.254,0.372,0.419,0.791,114.0,114.0
21,1960,41,113,390.0,310.0,56.0,98.0,15.0,0.0,29.0,72.0,75.0,41.0,0.316,0.451,0.645,1.096,190.0,200.0

In [63]:
# Load data for each player into a pandas DataFrame
for player, file_name in files.items():
    file_path = os.path.join(base_dir, file_name)
    player_df = pd.read_csv(file_path)
    # Removing 
    player_info = player_df.dropna()
    # Selecting columns "AB" to "RBI"
    selected_df = player_info.loc[:, "AB":"RBI"]
    # Summing the selected columns
    sum_result = selected_df.sum()
    # Transpose the DataFrame
    transposed_df = sum_result.to_frame().transpose()
    # Set the headers as the items in .loc slice
    transposed_df.columns = selected_df.columns
    # Replace the zero index with the player's name
    transposed_df.rename(index={0: player}, inplace=True)
    # Append the transposed DataFrame to the list
    all_player_dfs.append(transposed_df)

# Concatenate all the player DataFrames into one DataFrame
merged_df = merged_df.sort_values(by = "H",ascending=False)
print(merged_df)

         AB       R       H     2B     3B     HR     RBI
PR  14053.0  2165.0  4256.0  746.0  135.0  160.0  1314.0
TC  11440.0  2245.0  4189.0  724.0  295.0  117.0  1944.0
HA  12364.0  2174.0  3771.0  624.0   98.0  755.0  2297.0
SM  10972.0  1949.0  3630.0  725.0  177.0  475.0  1951.0
AP  11696.0  1943.0  3449.0  689.0   16.0  720.0  2268.0
HW  10439.0  1739.0  3420.0  643.0  252.0  101.0  1732.0
WM  10924.0  2068.0  3293.0  525.0  141.0  660.0  1909.0
BB   9847.0  2227.0  2935.0  601.0   77.0  762.0  1996.0
BR   8399.0  2174.0  2873.0  506.0  136.0  714.0  2214.0
TW   7706.0  1798.0  2654.0  525.0   71.0  521.0  1839.0

TypeError: 'DataFrame' object is not callable

In [37]:
# Load data for each player into a pandas DataFrame
for player, file_name in files.items():
    file_path = os.path.join(base_dir, file_name)
    player_df = pd.read_csv(file_path)
    # Selecting columns "AB" to "RBI"
    selected_df = player_df.loc[:, "AB":"RBI"]
    # Summing the selected columns
    sum_result = selected_df.sum()
    # Transpose the DataFrame
    transposed_df = sum_result.to_frame().transpose()
    # Set the headers as the items in .loc slice
    transposed_df.columns = selected_df.columns
    # Replace the zero index with the player's name
    transposed_df.rename(index={0: player}, inplace=True)
    # Append the transposed DataFrame to the list
    all_player_dfs.append(transposed_df)

# Concatenate all the player DataFrames into one DataFrame
merged_df = merged_df.sort_values(by = "HR",ascending=False)
print(merged_df)

         AB       R       H     2B     3B     HR     RBI
BB   9847.0  2227.0  2935.0  601.0   77.0  762.0  1996.0
HA  12364.0  2174.0  3771.0  624.0   98.0  755.0  2297.0
AP  11696.0  1943.0  3449.0  689.0   16.0  720.0  2268.0
BR   8399.0  2174.0  2873.0  506.0  136.0  714.0  2214.0
WM  10924.0  2068.0  3293.0  525.0  141.0  660.0  1909.0
TW   7706.0  1798.0  2654.0  525.0   71.0  521.0  1839.0
SM  10972.0  1949.0  3630.0  725.0  177.0  475.0  1951.0
PR  14053.0  2165.0  4256.0  746.0  135.0  160.0  1314.0
TC  11440.0  2245.0  4189.0  724.0  295.0  117.0  1944.0
HW  10439.0  1739.0  3420.0  643.0  252.0  101.0  1732.0