## Set up for Statistical Analysis

In [2]:
import pandas as pd
import os

# Loading CSV files
HA_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Hank Aaron Stats.csv")
BB_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Barry Bonds Stats.csv")
TC_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Ty Cobb Stats.csv")
WM_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Willie Mays Stats.csv")
SM_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Stan Musial Stats.csv")
AP_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Albert Pujols Stats.csv")
PR_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Pete Rose Stats.csv")
BR_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Babe Ruth Stats.csv")
HW_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Honus Wagner Stats.csv")
TW_df = pd.read_csv(r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics\Ted Williams Stats.csv")

# list of names for looping and naming
Names = ["Hank Aaron", "Barry Bonds", "Ty Cobb", "Willie Mays", "Stan Musial",
        "Albert Pujols", "Pete Rose", "Babe Ruth", "Honus Wagner", "Ted Williams"]

# list of player dataframes for looping
Player_DF_List = [HA_df, BB_df, TC_df, WM_df, SM_df, AP_df, PR_df, BR_df, HW_df, TW_df]

# Initialize an empty DataFrame
merged_df = pd.DataFrame()

## Conversion of lists to DataFrames with index manipulation

In [3]:
# initialize an empty list
all_player_dfs = []

i = 0
# Load data for each player into a pandas DataFrame
for player_df in Player_DF_List:
    # Removing 
    player_info = player_df.dropna()
    # Selecting columns "AB" to "RBI"
    selected_df = player_info.loc[:, "AB":"RBI"]
    # Summing the selected columns
    sum_result = selected_df.sum()
    # Transpose the DataFrame
    transposed_df = sum_result.to_frame().transpose()
    # Set the headers as the items in .loc slice
    transposed_df.columns = selected_df.columns
    # Replace the zero index with the player's name
    transposed_df.rename(index={0: Names[i]}, inplace=True)
    # Append the transposed DataFrame to the list
    all_player_dfs.append(transposed_df)
    i += 1
    
# Concatenate all the player DataFrames into one DataFrame
merged_df = pd.concat(all_player_dfs)

## Display of statistical comparison

In [4]:
merged_df = merged_df.sort_values(by="H", ascending=False)
print(merged_df)

                    AB       R       H     2B     3B     HR     RBI
Pete Rose      14053.0  2165.0  4256.0  746.0  135.0  160.0  1314.0
Ty Cobb        11440.0  2245.0  4189.0  724.0  295.0  117.0  1944.0
Hank Aaron     12364.0  2174.0  3771.0  624.0   98.0  755.0  2297.0
Stan Musial    10972.0  1949.0  3630.0  725.0  177.0  475.0  1951.0
Albert Pujols  11696.0  1943.0  3449.0  689.0   16.0  720.0  2268.0
Honus Wagner   10439.0  1739.0  3420.0  643.0  252.0  101.0  1732.0
Willie Mays    10881.0  2062.0  3283.0  523.0  140.0  660.0  1903.0
Barry Bonds     9847.0  2227.0  2935.0  601.0   77.0  762.0  1996.0
Babe Ruth       8399.0  2174.0  2873.0  506.0  136.0  714.0  2214.0
Ted Williams    7706.0  1798.0  2654.0  525.0   71.0  521.0  1839.0

In [4]:
merged_df = merged_df.sort_values(by="HR", ascending=False)
print(merged_df)

                    AB       R       H     2B     3B     HR     RBI
Barry Bonds     9847.0  2227.0  2935.0  601.0   77.0  762.0  1996.0
Hank Aaron     12364.0  2174.0  3771.0  624.0   98.0  755.0  2297.0
Albert Pujols  11696.0  1943.0  3449.0  689.0   16.0  720.0  2268.0
Babe Ruth       8399.0  2174.0  2873.0  506.0  136.0  714.0  2214.0
Willie Mays    10881.0  2062.0  3283.0  523.0  140.0  660.0  1903.0
Ted Williams    7706.0  1798.0  2654.0  525.0   71.0  521.0  1839.0
Stan Musial    10972.0  1949.0  3630.0  725.0  177.0  475.0  1951.0
Pete Rose      14053.0  2165.0  4256.0  746.0  135.0  160.0  1314.0
Ty Cobb        11440.0  2245.0  4189.0  724.0  295.0  117.0  1944.0
Honus Wagner   10439.0  1739.0  3420.0  643.0  252.0  101.0  1732.0

In [5]:
merged_df = merged_df.sort_values(by="RBI", ascending=False)
print(merged_df)

                    AB       R       H     2B     3B     HR     RBI
Hank Aaron     12364.0  2174.0  3771.0  624.0   98.0  755.0  2297.0
Albert Pujols  11696.0  1943.0  3449.0  689.0   16.0  720.0  2268.0
Babe Ruth       8399.0  2174.0  2873.0  506.0  136.0  714.0  2214.0
Barry Bonds     9847.0  2227.0  2935.0  601.0   77.0  762.0  1996.0
Stan Musial    10972.0  1949.0  3630.0  725.0  177.0  475.0  1951.0
Ty Cobb        11440.0  2245.0  4189.0  724.0  295.0  117.0  1944.0
Willie Mays    10881.0  2062.0  3283.0  523.0  140.0  660.0  1903.0
Ted Williams    7706.0  1798.0  2654.0  525.0   71.0  521.0  1839.0
Honus Wagner   10439.0  1739.0  3420.0  643.0  252.0  101.0  1732.0
Pete Rose      14053.0  2165.0  4256.0  746.0  135.0  160.0  1314.0

## Pandas calcualtions

In [32]:
# Initialize empty lists for all metrics
batting_avg = []
on_base_perc = []
slugging_perc = []
OPS = []

# Loop through each player's DataFrame
for player_df in Player_DF_List:
    # Calculate number of singles
    player_df['S'] = player_df['H'] - player_df['2B'] - player_df['3B'] - player_df['HR']
    
    # Calculate Batting Average
    player_df['BA'] = player_df['H'] / player_df['AB']
    
    # Calculate On-base Percentage
    player_df['OBP'] = (player_df['H'] + player_df['BB']) / (player_df['AB'] + player_df['BB'])
    
    # Calculate Slugging Percentage
    player_df['SLG'] = (player_df['S'] + 2*player_df['2B'] + 3*player_df['3B'] + 4*player_df['HR']) / player_df['AB']
    
    # Calculate On-base Plus Slugging
    player_df['OPS'] = player_df['OBP'] + player_df['SLG']

# Append metrics to respective lists
    batting_avg.append(player_df['BA'].mean())
    on_base_perc.append(player_df['OBP'].mean())
    slugging_perc.append(player_df['SLG'].mean())
    OPS.append(player_df['OPS'].mean())    

# Create a DataFrame for the results
results_df = pd.DataFrame({'Name': Names, 'Batting Avg': batting_avg, 'On-base %': on_base_perc,
                           'Slugging %': slugging_perc, 'OPS': OPS})

# Set index starting at 1
results_df.index += 1
print(results_df)

             Name  Batting Avg  On-base %  Slugging %       OPS
1      Hank Aaron     0.301075   0.373623    0.547687  0.921310
2     Barry Bonds     0.298306   0.440453    0.615488  1.055941
3         Ty Cobb     0.360811   0.422690    0.503357  0.926047
4     Willie Mays     0.291279   0.375888    0.527731  0.903620
5     Stan Musial     0.329902   0.412437    0.550035  0.962472
6   Albert Pujols     0.285641   0.353727    0.524347  0.878074
7       Pete Rose     0.299144   0.369787    0.400818  0.770606
8       Babe Ruth     0.322713   0.439081    0.634089  1.073170
9    Honus Wagner     0.325976   0.382442    0.461328  0.843771
10   Ted Williams     0.347643   0.479896    0.656677  1.136573

In [37]:
# Sort the DataFrame based on each metric and reset index
results_df_sorted_AVG = results_df.sort_values(by='Batting Avg', ascending=False).reset_index(drop=True)
results_df_sorted_OBP = results_df.sort_values(by='On-base %', ascending=False).reset_index(drop=True)
results_df_sorted_SLG = results_df.sort_values(by='Slugging %', ascending=False).reset_index(drop=True)
results_df_sorted_OPS = results_df.sort_values(by='OPS', ascending=False).reset_index(drop=True)

# Set index starting at 1
results_df_sorted_AVG.index += 1
results_df_sorted_OBP.index += 1
results_df_sorted_SLG.index += 1
results_df_sorted_OPS.index += 1

# Print the sorted DataFrames without index numbers
print("Ranking based on Batting Average:")
print(results_df_sorted_AVG)

print("\nRanking based on On-base Percentage:")
print(results_df_sorted_OBP)

print("\nRanking based on Slugging Percentage:")
print(results_df_sorted_SLG)

print("\nRanking based on OPS:")
print(results_df_sorted_OPS)

Ranking based on Batting Average:
             Name  Batting Avg  On-base %  Slugging %       OPS
1         Ty Cobb     0.360811   0.422690    0.503357  0.926047
2    Ted Williams     0.347643   0.479896    0.656677  1.136573
3     Stan Musial     0.329902   0.412437    0.550035  0.962472
4    Honus Wagner     0.325976   0.382442    0.461328  0.843771
5       Babe Ruth     0.322713   0.439081    0.634089  1.073170
6      Hank Aaron     0.301075   0.373623    0.547687  0.921310
7       Pete Rose     0.299144   0.369787    0.400818  0.770606
8     Barry Bonds     0.298306   0.440453    0.615488  1.055941
9     Willie Mays     0.291279   0.375888    0.527731  0.903620
10  Albert Pujols     0.285641   0.353727    0.524347  0.878074

Ranking based on On-base Percentage:
             Name  Batting Avg  On-base %  Slugging %       OPS
1    Ted Williams     0.347643   0.479896    0.656677  1.136573
2     Barry Bonds     0.298306   0.440453    0.615488  1.055941
3       Babe Ruth     0.322713   0.439081    0.634089  1.073170
4         Ty Cobb     0.360811   0.422690    0.503357  0.926047
5     Stan Musial     0.329902   0.412437    0.550035  0.962472
6    Honus Wagner     0.325976   0.382442    0.461328  0.843771
7     Willie Mays     0.291279   0.375888    0.527731  0.903620
8      Hank Aaron     0.301075   0.373623    0.547687  0.921310
9       Pete Rose     0.299144   0.369787    0.400818  0.770606
10  Albert Pujols     0.285641   0.353727    0.524347  0.878074

Ranking based on Slugging Percentage:
             Name  Batting Avg  On-base %  Slugging %       OPS
1    Ted Williams     0.347643   0.479896    0.656677  1.136573
2       Babe Ruth     0.322713   0.439081    0.634089  1.073170
3     Barry Bonds     0.298306   0.440453    0.615488  1.055941
4     Stan Musial     0.329902   0.412437    0.550035  0.962472
5      Hank Aaron     0.301075   0.373623    0.547687  0.921310
6     Willie Mays     0.291279   0.375888    0.527731  0.903620
7   Albert Pujols     0.285641   0.353727    0.524347  0.878074
8         Ty Cobb     0.360811   0.422690    0.503357  0.926047
9    Honus Wagner     0.325976   0.382442    0.461328  0.843771
10      Pete Rose     0.299144   0.369787    0.400818  0.770606

Ranking based on OPS:
             Name  Batting Avg  On-base %  Slugging %       OPS
1    Ted Williams     0.347643   0.479896    0.656677  1.136573
2       Babe Ruth     0.322713   0.439081    0.634089  1.073170
3     Barry Bonds     0.298306   0.440453    0.615488  1.055941
4     Stan Musial     0.329902   0.412437    0.550035  0.962472
5         Ty Cobb     0.360811   0.422690    0.503357  0.926047
6      Hank Aaron     0.301075   0.373623    0.547687  0.921310
7     Willie Mays     0.291279   0.375888    0.527731  0.903620
8   Albert Pujols     0.285641   0.353727    0.524347  0.878074
9    Honus Wagner     0.325976   0.382442    0.461328  0.843771
10      Pete Rose     0.299144   0.369787    0.400818  0.770606