In [79]:
import pandas as pd
import os

# CSV files to pull desired data
files = {
    "HA": "Hank Aaron Stats.csv",
    "BB": "Barry Bonds Stats.csv",
    "TC": "Ty Cobb Stats.csv",
    "WM": "Willie Mays Stats.csv",
    "SM": "Stan Musial Stats.csv",
    "AP": "Albert Pujols Stats.csv",
    "PR": "Pete Rose Stats.csv",
    "BR": "Babe Ruth Stats.csv",
    "HW": "Honus Wagner Stats.csv",
    "TW": "Ted Williams Stats.csv"
}

# Base directory path
base_dir = r"C:\Users\zscon\Desktop\SSE_591\repo\SSE591_Week3\Week 3\Baseball Statistics"

# List to store all the player DataFrames
player_dataframes = {}

# Load data for each player into a pandas DataFrame
for player, file_name in files.items():
    file_path = os.path.join(base_dir, file_name)
    player_df = pd.read_csv(file_path)
    # Drop rows with any missing values (empty cells)
    player_dataframes[player] = player_df.dropna()

# Accessing Ted Williams' information
ted_williams_data = player_dataframes["WM"]
print('Willie Mays stats without military status:\n',player_dataframes["WM"])
print('\nStan Musial stats without military status:\n',player_dataframes["SM"])
print('\nTed Williams stats without military status:\n',player_dataframes["TW"])

Willie Mays stats without military status:
     Year  Age    G     PA     AB      R      H    2B    3B    HR    RBI  \
1   1951   20  121  524.0  464.0   59.0  127.0  22.0   5.0  20.0   68.0
2   1952   21   34  144.0  127.0   17.0   30.0   2.0   4.0   4.0   23.0
4   1954   23  151  641.0  565.0  119.0  195.0  33.0  13.0  41.0  110.0
5   1955   24  152  670.0  580.0  123.0  185.0  18.0  13.0  51.0  127.0
6   1956   25  152  651.0  578.0  101.0  171.0  27.0   8.0  36.0   84.0
7   1957   26  152  669.0  585.0  112.0  195.0  26.0  20.0  35.0   97.0
8   1958   27  152  685.0  600.0  121.0  208.0  33.0  11.0  29.0   96.0
9   1959   28  151  649.0  575.0  125.0  180.0  43.0   5.0  34.0  104.0
10  1960   29  153  669.0  595.0  107.0  190.0  29.0  12.0  29.0  103.0
11  1961   30  154  659.0  572.0  129.0  176.0  32.0   3.0  40.0  123.0
12  1962   31  162  706.0  621.0  130.0  189.0  36.0   5.0  49.0  141.0
13  1963   32  157  671.0  596.0  115.0  187.0  32.0   7.0  38.0  103.0
14  1964   33  157  665.0  578.0  121.0  171.0  21.0   9.0  47.0  111.0
15  1965   34  157  638.0  558.0  118.0  177.0  21.0   3.0  52.0  112.0
16  1966   35  152  629.0  552.0   99.0  159.0  29.0   4.0  37.0  103.0
17  1967   36  141  544.0  486.0   83.0  128.0  22.0   2.0  22.0   70.0
18  1968   37  148  573.0  498.0   84.0  144.0  20.0   5.0  23.0   79.0
19  1969   38  117  459.0  403.0   64.0  114.0  17.0   3.0  13.0   58.0
20  1970   39  139  566.0  478.0   94.0  139.0  15.0   2.0  28.0   83.0
21  1971   40  136  537.0  417.0   82.0  113.0  24.0   5.0  18.0   61.0
22  1972   41   88  309.0  244.0   35.0   61.0  11.0   1.0   8.0   22.0
23  1973   42   66  239.0  209.0   24.0   44.0  10.0   0.0   6.0   25.0

       BB     SO     BA    OBP    SLG    OPS   OPS+     TB
1    57.0   60.0  0.274  0.356  0.472  0.828  120.0  219.0
2    16.0   17.0  0.236  0.326  0.409  0.736  102.0   52.0
4    66.0   57.0  0.345  0.411  0.667  1.078  175.0  377.0
5    79.0   60.0  0.319  0.400  0.659  1.059  174.0  382.0
6    68.0   65.0  0.296  0.369  0.557  0.926  146.0  322.0
7    76.0   62.0  0.333  0.407  0.626  1.033  173.0  366.0
8    78.0   56.0  0.347  0.419  0.583  1.002  165.0  350.0
9    65.0   58.0  0.313  0.381  0.583  0.964  156.0  335.0
10   61.0   70.0  0.319  0.381  0.555  0.936  160.0  330.0
11   81.0   77.0  0.308  0.393  0.584  0.977  160.0  334.0
12   78.0   85.0  0.304  0.384  0.615  0.999  165.0  382.0
13   66.0   83.0  0.314  0.380  0.582  0.962  175.0  347.0
14   82.0   72.0  0.296  0.383  0.607  0.990  172.0  351.0
15   76.0   71.0  0.317  0.398  0.645  1.043  185.0  360.0
16   70.0   81.0  0.288  0.368  0.556  0.924  149.0  307.0
17   51.0   92.0  0.263  0.334  0.453  0.787  124.0  220.0
18   67.0   81.0  0.289  0.372  0.488  0.860  156.0  243.0
19   49.0   71.0  0.283  0.362  0.437  0.798  124.0  176.0
20   79.0   90.0  0.291  0.390  0.506  0.897  140.0  242.0
21  112.0  123.0  0.271  0.425  0.482  0.907  158.0  201.0
22   60.0   48.0  0.250  0.400  0.402  0.802  131.0   98.0
23   27.0   47.0  0.211  0.303  0.344  0.647   81.0   72.0

Stan Musial stats without military status:
     Year  Age    G     PA     AB      R      H    2B    3B    HR    RBI  \
0   1941   20   12   49.0   47.0    8.0   20.0   4.0   0.0   1.0    7.0
1   1942   21  140  536.0  467.0   87.0  147.0  32.0  10.0  10.0   72.0
2   1943   22  157  701.0  617.0  108.0  220.0  48.0  20.0  13.0   81.0
3   1944   23  146  668.0  568.0  112.0  197.0  51.0  14.0  12.0   94.0
5   1946   25  156  702.0  624.0  124.0  228.0  50.0  20.0  16.0  103.0
6   1947   26  149  678.0  587.0  113.0  183.0  30.0  13.0  19.0   95.0
7   1948   27  155  698.0  611.0  135.0  230.0  46.0  18.0  39.0  131.0
8   1949   28  157  722.0  612.0  128.0  207.0  41.0  13.0  36.0  123.0
9   1950   29  146  645.0  555.0  105.0  192.0  41.0   7.0  28.0  109.0
10  1951   30  152  678.0  578.0  124.0  205.0  30.0  12.0  32.0  108.0
11  1952   31  154  678.0  578.0  105.0  194.0  42.0   6.0  21.0   91.0
12  1953   32  157  698.0  593.0  127.0  200.0  53.0   9.0  30.0  113.0
13  1954   33  153  705.0  591.0  120.0  195.0  41.0   9.0  35.0  126.0
14  1955   34  154  656.0  562.0   97.0  179.0  30.0   5.0  33.0  108.0
15  1956   35  156  682.0  594.0   87.0  184.0  33.0   6.0  27.0  109.0
16  1957   36  134  579.0  502.0   82.0  176.0  38.0   3.0  29.0  102.0
17  1958   37  135  549.0  472.0   64.0  159.0  35.0   2.0  17.0   62.0
18  1959   38  115  404.0  341.0   37.0   87.0  13.0   2.0  14.0   44.0
19  1960   39  116  378.0  331.0   49.0   91.0  17.0   1.0  17.0   63.0
20  1961   40  123  431.0  372.0   46.0  107.0  22.0   4.0  15.0   70.0
21  1962   41  135  505.0  433.0   57.0  143.0  18.0   1.0  19.0   82.0
22  1963   42  124  379.0  337.0   34.0   86.0  10.0   2.0  12.0   58.0

       BB    SO     BA    OBP    SLG    OPS   OPS+     TB
0     2.0   1.0  0.426  0.449  0.574  1.023  179.0   27.0
1    62.0  25.0  0.315  0.397  0.490  0.888  151.0  229.0
2    72.0  18.0  0.357  0.425  0.562  0.988  177.0  347.0
3    90.0  28.0  0.347  0.440  0.549  0.990  174.0  312.0
5    73.0  31.0  0.365  0.434  0.587  1.021  183.0  366.0
6    80.0  24.0  0.312  0.398  0.504  0.902  134.0  296.0
7    79.0  34.0  0.376  0.450  0.702  1.152  200.0  429.0
8   107.0  38.0  0.338  0.438  0.624  1.062  177.0  382.0
9    87.0  36.0  0.346  0.437  0.596  1.034  165.0  331.0
10   98.0  40.0  0.355  0.449  0.614  1.063  183.0  355.0
11   96.0  29.0  0.336  0.432  0.538  0.970  167.0  311.0
12  105.0  32.0  0.337  0.437  0.609  1.046  169.0  361.0
13  103.0  39.0  0.330  0.428  0.607  1.036  167.0  359.0
14   80.0  39.0  0.319  0.408  0.566  0.974  157.0  318.0
15   75.0  39.0  0.310  0.386  0.522  0.908  143.0  310.0
16   66.0  34.0  0.351  0.422  0.612  1.034  172.0  307.0
17   72.0  26.0  0.337  0.423  0.528  0.950  145.0  249.0
18   60.0  25.0  0.255  0.364  0.428  0.792  106.0  146.0
19   41.0  34.0  0.275  0.354  0.486  0.841  121.0  161.0
20   52.0  35.0  0.288  0.371  0.489  0.860  119.0  182.0
21   64.0  46.0  0.330  0.416  0.508  0.924  137.0  220.0
22   35.0  43.0  0.255  0.325  0.404  0.728  101.0  136.0

Ted Williams stats without military status:
     Year  Age    G     PA     AB      R      H    2B    3B    HR    RBI  \
0   1939   20  149  677.0  565.0  131.0  185.0  44.0  11.0  31.0  145.0
1   1940   21  144  661.0  561.0  134.0  193.0  43.0  14.0  23.0  113.0
2   1941   22  143  606.0  456.0  135.0  185.0  33.0   3.0  37.0  120.0
3   1942   23  150  671.0  522.0  141.0  186.0  34.0   5.0  36.0  137.0
7   1946   27  150  672.0  514.0  142.0  176.0  37.0   8.0  38.0  123.0
8   1947   28  156  693.0  528.0  125.0  181.0  40.0   9.0  32.0  114.0
9   1948   29  137  638.0  509.0  124.0  188.0  44.0   3.0  25.0  127.0
10  1949   30  155  730.0  566.0  150.0  194.0  39.0   3.0  43.0  159.0
11  1950   31   89  416.0  334.0   82.0  106.0  24.0   1.0  28.0   97.0
12  1951   32  148  675.0  531.0  109.0  169.0  28.0   4.0  30.0  126.0
13  1952   33    6   12.0   10.0    2.0    4.0   0.0   1.0   1.0    3.0
14  1953   34   37  110.0   91.0   17.0   37.0   6.0   0.0  13.0   34.0
15  1954   35  117  526.0  386.0   93.0  133.0  23.0   1.0  29.0   89.0
16  1955   36   98  417.0  320.0   77.0  114.0  21.0   3.0  28.0   83.0
17  1956   37  136  503.0  400.0   71.0  138.0  28.0   2.0  24.0   82.0
18  1957   38  132  547.0  420.0   96.0  163.0  28.0   1.0  38.0   87.0
19  1958   39  129  517.0  411.0   81.0  135.0  23.0   2.0  26.0   85.0
20  1959   40  103  331.0  272.0   32.0   69.0  15.0   0.0  10.0   43.0
21  1960   41  113  390.0  310.0   56.0   98.0  15.0   0.0  29.0   72.0

       BB    SO     BA    OBP    SLG    OPS   OPS+     TB
0   107.0  64.0  0.327  0.436  0.609  1.045  160.0  344.0
1    96.0  54.0  0.344  0.442  0.594  1.036  162.0  333.0
2   147.0  27.0  0.406  0.553  0.735  1.287  235.0  335.0
3   145.0  51.0  0.356  0.499  0.648  1.147  216.0  338.0
7   156.0  44.0  0.342  0.497  0.667  1.164  215.0  343.0
8   162.0  47.0  0.343  0.499  0.634  1.133  205.0  335.0
9   126.0  41.0  0.369  0.497  0.615  1.112  189.0  313.0
10  162.0  48.0  0.343  0.490  0.650  1.141  191.0  368.0
11   82.0  21.0  0.317  0.452  0.647  1.099  168.0  216.0
12  144.0  45.0  0.318  0.464  0.556  1.019  164.0  295.0
13    2.0   2.0  0.400  0.500  0.900  1.400  273.0    9.0
14   19.0  10.0  0.407  0.509  0.901  1.410  268.0   82.0
15  136.0  32.0  0.345  0.513  0.635  1.148  201.0  245.0
16   91.0  24.0  0.356  0.496  0.703  1.200  209.0  225.0
17  102.0  39.0  0.345  0.479  0.605  1.084  172.0  242.0
18  119.0  43.0  0.388  0.526  0.731  1.257  233.0  307.0
19   98.0  49.0  0.328  0.458  0.584  1.042  179.0  240.0
20   52.0  27.0  0.254  0.372  0.419  0.791  114.0  114.0
21   75.0  41.0  0.316  0.451  0.645  1.096  190.0  200.0

In [65]:
# Load data for each player into a pandas DataFrame
for player, file_name in files.items():
    file_path = os.path.join(base_dir, file_name)
    player_df = pd.read_csv(file_path)
    # Removing 
    player_info = player_df.dropna()
    # Selecting columns "AB" to "RBI"
    selected_df = player_info.loc[:, "AB":"RBI"]
    # Summing the selected columns
    sum_result = selected_df.sum()
    # Transpose the DataFrame
    transposed_df = sum_result.to_frame().transpose()
    # Set the headers as the items in .loc slice
    transposed_df.columns = selected_df.columns
    # Replace the zero index with the player's name
    transposed_df.rename(index={0: player}, inplace=True)
    # Append the transposed DataFrame to the list
    all_player_dfs.append(transposed_df)

# Concatenate all the player DataFrames into one DataFrame
merged_df = merged_df.sort_values(by = "H",ascending=False)
print(merged_df)

         AB       R       H     2B     3B     HR     RBI
PR  14053.0  2165.0  4256.0  746.0  135.0  160.0  1314.0
TC  11440.0  2245.0  4189.0  724.0  295.0  117.0  1944.0
HA  12364.0  2174.0  3771.0  624.0   98.0  755.0  2297.0
SM  10972.0  1949.0  3630.0  725.0  177.0  475.0  1951.0
AP  11696.0  1943.0  3449.0  689.0   16.0  720.0  2268.0
HW  10439.0  1739.0  3420.0  643.0  252.0  101.0  1732.0
WM  10924.0  2068.0  3293.0  525.0  141.0  660.0  1909.0
BB   9847.0  2227.0  2935.0  601.0   77.0  762.0  1996.0
BR   8399.0  2174.0  2873.0  506.0  136.0  714.0  2214.0
TW   7706.0  1798.0  2654.0  525.0   71.0  521.0  1839.0

In [66]:
# Load data for each player into a pandas DataFrame
for player, file_name in files.items():
    file_path = os.path.join(base_dir, file_name)
    player_df = pd.read_csv(file_path)
    # Selecting columns "AB" to "RBI"
    selected_df = player_df.loc[:, "AB":"RBI"]
    # Summing the selected columns
    sum_result = selected_df.sum()
    # Transpose the DataFrame
    transposed_df = sum_result.to_frame().transpose()
    # Set the headers as the items in .loc slice
    transposed_df.columns = selected_df.columns
    # Replace the zero index with the player's name
    transposed_df.rename(index={0: player}, inplace=True)
    # Append the transposed DataFrame to the list
    all_player_dfs.append(transposed_df)

# Concatenate all the player DataFrames into one DataFrame
merged_df = merged_df.sort_values(by = "HR",ascending=False)
print(merged_df)

         AB       R       H     2B     3B     HR     RBI
BB   9847.0  2227.0  2935.0  601.0   77.0  762.0  1996.0
HA  12364.0  2174.0  3771.0  624.0   98.0  755.0  2297.0
AP  11696.0  1943.0  3449.0  689.0   16.0  720.0  2268.0
BR   8399.0  2174.0  2873.0  506.0  136.0  714.0  2214.0
WM  10924.0  2068.0  3293.0  525.0  141.0  660.0  1909.0
TW   7706.0  1798.0  2654.0  525.0   71.0  521.0  1839.0
SM  10972.0  1949.0  3630.0  725.0  177.0  475.0  1951.0
PR  14053.0  2165.0  4256.0  746.0  135.0  160.0  1314.0
TC  11440.0  2245.0  4189.0  724.0  295.0  117.0  1944.0
HW  10439.0  1739.0  3420.0  643.0  252.0  101.0  1732.0